<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <form #overLineForm="ngForm" novalidate>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #fullName="ngModel"
          name="fullName"
        />
        <span>{{ "Ism" | translate }}</span>
        <div
          *ngIf="!fullName.valid && overLineForm.submitted"
          class="invalid-tooltip"
        >
          Value is required!
        </div>
      </label>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #phoneNumber="ngModel"
          name="phoneNumber"
        />
        <span>{{ "Telefon" | translate }}</span>
        <div
          *ngIf="!phoneNumber.valid && overLineForm.submitted"
          class="invalid-tooltip"
        >
          Value is required!
        </div>
      </label>

      <label class="form-group has-float-label">
        <ng-select
          [items]="citiesArray"
          bindLabel="name"
          required
          ngModel
          (change)="changeCountry($event)"
          #ngSelectSingle2="ngModel"
          name="country"
        >
        </ng-select>
        <span>{{ "forms.state" | translate }}</span>
        <div
          *ngIf="!ngSelectSingle2.valid && overLineForm.submitted"
          class="invalid-tooltip"
        >
          Value is required!
        </div>
      </label>
      <label class="form-group has-float-label">
        <ng-select
          [items]="regions"
          bindLabel="name"
          required
          ngModel
          #ngSelectSingle3="ngModel"
          name="country"
        >
        </ng-select>
        <span>{{ "forms.region" | translate }}</span>
        <div
          *ngIf="!ngSelectSingle3.valid && overLineForm.submitted"
          class="invalid-tooltip"
        >
          Value is required!
        </div>
      </label>
      <button class="btn btn-primary" type="submit">
        {{ "forms.signup" | translate }}
      </button>
    </form>

    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Alter Ego</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Power</div>
      </div>
      <br />
      <button class="btn btn-primary" (click)="submitted = false">Edit</button>
    </div>
  </div>
</div>
