<div class="modal-header">
  <h4 class="modal-title pull-left">Buyurtma berish</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <form #overLineForm="ngForm" novalidate>
      <p>Kategoriyani tanlang</p>
      <div class="category-wrapper">
        <div class="single-category">
          <img class="selected" src="./assets/img/primary-1.png" alt="" />
          <label for="image">Image 1</label>
        </div>
        <div class="single-category">
          <img src="./assets/img/primary-1.png" alt="" />
          <label for="image">Image 1</label>
        </div>
        <div class="single-category">
          <img src="./assets/img/primary-1.png" alt="" />
          <label for="image">Image 1</label>
        </div>
        <div class="single-category">
          <img src="./assets/img/primary-1.png" alt="" />
          <label for="image">Image 1</label>
        </div>
        <div class="single-category">
          <img src="./assets/img/primary-1.png" alt="" />
          <label for="image">Image 1</label>
        </div>
      </div>
      <p class="mt-3 mb-1">Soni</p>
      <div class="btn-group mr-2 mb-5" role="group" aria-label="Second group">
        <button type="button" class="btn btn-primary" (click)="decrement()">
          -
        </button>
        <div type="button" class="btn btn-primary">{{ quantity }}</div>
        <button type="button" class="btn btn-primary" (click)="increment()">
          +
        </button>
      </div>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #fullName="ngModel"
          name="fullName"
        />
        <span>{{ "Ism" | translate }}</span>
        <div
          *ngIf="!fullName.valid && overLineForm.submitted"
          class="invalid-tooltip"
        >
          Value is required!
        </div>
      </label>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #phoneNumber="ngModel"
          name="phoneNumber"
        />
        <span>{{ "Telefon" | translate }}</span>
        <div
          *ngIf="!phoneNumber.valid && overLineForm.submitted"
          class="invalid-tooltip"
        >
          Value is required!
        </div>
      </label>
      <div class="d-flex w-100">
        <label class="form-group has-float-label w-50 pr-3">
          <ng-select
            [items]="citiesArray"
            bindLabel="name"
            [searchable]="false"
            required
            ngModel
            (change)="changeCountry($event, ngSelectSingle3)"
            #ngSelectSingle2="ngModel"
            name="country"
          >
          </ng-select>
          <span>Shahar</span>
          <div
            *ngIf="!ngSelectSingle2.valid && overLineForm.submitted"
            class="invalid-tooltip"
          >
            Value is required!
          </div>
        </label>

        <label class="form-group has-float-label w-50">
          <ng-select
            [items]="regions"
            [searchable]="false"
            required
            ngModel
            #ngSelectSingle3="ngModel"
            name="region"
          >
          </ng-select>
          <span>Tuman</span>
          <div
            *ngIf="!ngSelectSingle3.valid && overLineForm.submitted"
            class="invalid-tooltip"
          >
            Value is required!
          </div>
        </label>
      </div>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #fullName="ngModel"
          name="fullName"
        />
        <span>Promocode</span>
        <div
          *ngIf="!fullName.valid && overLineForm.submitted"
          class="invalid-tooltip"
        >
          Value is required!
        </div>
      </label>
      <button class="btn btn-primary" type="submit">Yuborish</button>
    </form>

    <form [formGroup]="form">
      <div class="form-group">
        <label for="phone-number">Phone Number</label>

        <input
          class="form-control"
          type="text"
          appPhoneMask
          maxlength="18"
          placeholder="+(998) (__) ___-__-__"
          formControlName="phone"
          id="phone-number"
        />
      </div>
    </form>
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Alter Ego</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Power</div>
      </div>
      <br />
      <button class="btn btn-primary" (click)="submitted = false">Edit</button>
    </div>
  </div>
</div>
