<div class="row">
  <div class="col-lg-4 col-md-6 mb-4">
      <app-gradient-with-radial-progress-card [icon]="'iconsminds-clock'"
          [title]="'Completed Orders'" [detail]="'dashboards.pending-for-print' | translate"
          [percent]="100" [progressText]="'1200'">
      </app-gradient-with-radial-progress-card>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
      <app-gradient-with-radial-progress-card [icon]="'iconsminds-male'"
          [title]="'4 ' + ('Pending orders')" [detail]="'dashboards.on-approval-process' | translate"
          [percent]="(4 * 100) / 6" [progressText]="'500'">
      </app-gradient-with-radial-progress-card>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
      <app-gradient-with-radial-progress-card [icon]="'iconsminds-bell'"
          [title]="'8 ' + ('Completed orders')" [detail]="'dashboards.waiting-for-notice' | translate"
          [percent]="(8 * 100) / 10" [progressText]="'700'">
      </app-gradient-with-radial-progress-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 mb-4">
      <app-best-sellers title="dashboards.top-viewed-posts"></app-best-sellers>
  </div>
</div>


