<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body py-5">
          <p class="lead">{{'Конвектор электрический Ballu Enzo BEC/EZER-1000'}}</p>
          <hr class="my-4">
          <p>{{'It uses utility classes for typography and spacing to space content out within the larger container. It uses utility classes for typography and spacing to space content out within the larger container.'}}</p>
          <p class="lead  mb-0">
            <a class="btn btn-primary btn-lg c-pointer" role="button">Sotib olish</a>
          </p>
      </div>
    </div>
  </div>
</div>