<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body py-5">
        <p class="lead">
          {{ "Конвектор электрический Ballu Enzo BEC/EZER-1000" }}
        </p>
        <hr class="my-4" />
        <p>
          {{
            "It uses utility classes for typography and spacing to space content out within the larger container. It uses utility classes for typography and spacing to space content out within the larger container."
          }}
        </p>
        <p>
          {{
            "It uses utility classes for typography and spacing to space content out within.  It uses utility classes for typography and spacing to space content out within the larger container."
          }}
        </p>
        <hr class="my-4" />
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6">
            <h1 class="m-1">4,000,000 sum</h1>
          </div>
          <div class="col-md-6">
            <order-container>Sotib olish</order-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
