<div class="card mb-4">
  <div class="card-body py-5">
    <p class="lead text-center w-100">
      Конвектор электрический Ballu Enzo BEC/EZER-1000
    </p>
    <hr class="my-4" />
    <div class="row">
      <div class="col-md-6">
        <h1 class="m-auto text-center w-100">4,000,000 sum</h1>
      </div>
      <hr class="my-4" />
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-primary w-100"
          (click)="openModalWithComponent()"
        >
          Sotib Olish
        </button>
      </div>
    </div>
  </div>
</div>
